<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CNG_BOOKING</display-name>
  <welcome-file-list>
    <welcome-file>AdminLogin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.project.cng.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCng</display-name>
    <servlet-name>RegisterCng</servlet-name>
    <servlet-class>com.project.cng.RegisterCng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCng</servlet-name>
    <url-pattern>/RegisterCng</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCng</display-name>
    <servlet-name>LoginCng</servlet-name>
    <servlet-class>com.project.cng.LoginCng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCng</servlet-name>
    <url-pattern>/LoginCng</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCng</display-name>
    <servlet-name>UpdateCng</servlet-name>
    <servlet-class>com.project.cng.UpdateCng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCng</servlet-name>
    <url-pattern>/UpdateCng</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.project.cng.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.project.cng.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book</display-name>
    <servlet-name>Book</servlet-name>
    <servlet-class>com.project.cng.Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book2</display-name>
    <servlet-name>Book2</servlet-name>
    <servlet-class>com.project.cng.Book2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book2</servlet-name>
    <url-pattern>/Book2</url-pattern>
  </servlet-mapping>
</web-app>